.side{
width: 15vw;
height: 100vh;
left: 0px;
top: 0px;
background: #CEF3FF;
display:flex;
flex-direction: column;
justify-content: space-between;
}

.side-upper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.logo{
color:#0884FF;
margin: 1rem;
}

.side-dashboard{
    margin: 1rem;
}

.side-dashboard > h4{
    color: #181818
}

.side-totalContact{
    background: #2DA5FC;
    border-radius: 0.5em;
    margin: 1rem;
    padding: 0.1rem;
}

.total-contact{
    color: #ddd;
}

.logout{
    margin: 2.5rem;
}
